.mclogo{
	width:80%;
	margin:0 auto;
	padding-left:10%;

}
.nether{
	background-image: url('images/nether_background.png')
}
.rsimage1{
	width:20%;
	padding-left:2%;
	display:inline-block;
}
.mobimage1{
	height: 65px;
	padding: 10px;
}
.begintext{
	display: inline-block;
	margin-left:40px;
}
section.block1,section.block2,section.block3{
	margin:0 auto;
	width:70%;
	max-width: 800px;
}
body{
	padding-top:40px;

}
.e{
	color:rgb(100,100,255);
}
.dont{
	color:white;
}
.list{
	color:green;
}


.image1{
	width:60%;
	display:block;
	padding:0;
	margin:0;
}
.img2{
	width:80%;
	display: block;
}
.beginning{
	padding:30px;
	font-size: 20px;
}
.most{
	font-weight: bold;
	color: #999999;
}
.topic{
	font-size:15px;
	background:rgba(125,80,34,.3);
	border-radius: 10px;
	margin:10px;
	padding:2px;
	/*margin:12px 10%;*/

}
.navigation{
		position:fixed;
		top:0;
		left:0;
		background:rgba(255,255,255,.389);
		color:black;
		width:100%;
		display:inline;
		padding: 10px 30px;
	}
	.navbar{
		color:black;
		width:100%;
		background:none;
		text-decoration: none;
		display:inline;
		padding-right: 30px
	}
	.navbar:hover{
		color:blue;
	}
}
h2{
	font-size:20px;
}
body{
	background-image: url("images/dirtbackground.png");
	color:	gray;
}
.mchistory{
	margin:10px;
}


@media all and (min-width: 1000px){
	section{
		font-size:24px;
	}
	.mobimage1{
	height: 100px;
	padding: 10px;
}

}
@media all and (max-width: 600px){
	
	body{
		padding:10 0;
		margin:0 0;
	}
	.begintext{
		margin:0;
	}
	.mobimage1{
	height: 50px;
	padding: 10px;
}
	.navigation{
		font-size:10px;
		position:absolute;
		top:0; 
}
}