.mclogo{
	width:90%;
	margin:0 auto;
	padding-left:5%;
}
body{
	padding-top:40px;
}
.topic{
	font-size:15px;
	background:rgba(125,80,34,.3);
	border-radius: 10px;
	margin:10px;
	padding:2px;
	/*margin:12px 10%;*/

}
.navbar{
	color:black;
	background:none;
	text-decoration: none;
	display:inline;
	padding-right: 20px;

}
.navigation{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background:rgba(255,255,255,.389);

}
h2{
	font-size:20px;
}
body{
	background-image: url("images/dirtbackground.png");
	color:	gray;
}
.mchistory{
	margin:10px;
}
/*medium sized browser window*/
@media all and (min-width: 750px) and (max-width: 1100px){
	.topic{
		width: 40%;
		margin:40px 20px;
		display:inline-block;
		text-align: center;
		vertical-align: top;
		height: 480px;
		font-size: 30px;
	}
	.top{
		height:490px;
	}
	.testingclass{
		margin:0 auto;
	}
	h2.headtopic{
		display: inline-block;
		margin:0 auto;
	}

	
	.navigation{
		position:fixed;
		top:0;
		left:0;
		background:rgba(255,255,255,.389);
		color:black;
		width:100%;
		display:inline;
		padding: 10px 30px;
	}
	.navbar{
		color:black;
		width:100%;
		background:none;
		text-decoration: none;
		display:inline;
		padding-right: 30px
	}
	.navbar:hover{
		color:blue;
	}
	body{
		padding-top: 40px;
		/*font-size: 30px;*/

	}
	html{
		max-width: 1200px;
		margin:0 auto;
	}
	section{
		font-size: 30px;

	}
	.mchistory{
		margin:30px;
	}
}

@media all and (min-width: 1100px){
	.topic{
		width: 45%;
		background: rgba(125,80,34,.3);
		border-radius: 10px;
		margin-left:20px;
		margin-bottom:40px;
		display:inline-block;
		text-align: center;
		vertical-align: top;
		height: 350px;
		font-size: 30px;
	}
	.testingclass{
		margin:0 auto;
	}
	.top{
		height:260px;
	}
	h2.headtopic{
		display: inline-block;
		margin:0 auto;
	}

	
	.navigation{
		position:fixed;
		top:0;
		left:0;
		background:rgba(255,255,255,.389);
		color:black;
		width:100%;
		display:inline;
		padding: 10px 30px;
	}
	.navbar{
		color:black;
		width:100%;
		background:none;
		text-decoration: none;
		display:inline;
		padding-right: 30px
	}
	.navbar:hover{
		color:blue;
	}
	body{
		padding-top: 40px;
		/*font-size: 30px;*/

	}
	html{
		max-width: 1200px;
		margin:0 auto;
	}
	section{
		font-size: 30px;

	}
	.mchistory{
		margin:30px;
	}

}


}